body {
  background-image: url(./assets/images/pixelClouds.png);
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}


p, input, button, label {
  font-family: 'Dongle', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Mono', monospace;
}

.full-page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  border: 1px white solid;
  flex-direction: column;
  min-width: 12rem;
  height: 10rem;
  align-items: center;
  justify-items: space-evenly;
  margin: 0px auto;

}

