body {
  background-image: url(./assets/images/clouds.JPG);
  background-size: cover;
  background-position: center;
  color: navy;

  margin: 0px;
  padding: 0px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

p, input, button, label {
  font-family: 'Dongle', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Mono', monospace;
}

.full-page {
  width: 100%;
  height: 100%;
  position: absolute;
}
